<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="网站关键词">
    <meta name="Description" content="网站介绍">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/iconfont.css">
    <link rel="stylesheet" href="/css/reg.css">
</head>
<body>
    <input type="hidden" id="uuid" th:value="${uuid}">
    <div id="ajax-hook"></div>
    <div class="wrap">
        <div class="wpn">
            <div class="form-data pos">
                <a href=""><img src="/img/logo.png" class="head-logo"></a>
				
				<div class="qq-login-success">
					
					<p>
						<img  th:src="${figureurlQq1}" width="28" height="28">
                        Hi, <span th:text="${nickname}"></span> 欢迎来本网站，完成绑定后可以微博账号 一键登录哦~
					</p>
				</div>
                <!--<p class="tel-warn hide"><i class="icon-warn"></i></p>-->
<!--                <form action="https://www.baidu.com" th:action="'http://www/passport.com/bind/qq/user?uuid=' + ${uuid}">-->
			
					
                    <div class="p-input pos">
                        <label for="username">用户名</label>
                        <input type="text" id="username" autocomplete="off">
                        <span class="tel-warn tel-err hide"><em></em><i class="icon-warn"></i></span>
                    </div>
					
					
                    <div class="p-input pos " id="pwd">
                        <label for="passport">输入密码</label>
                        <input type="password" style="display: none"/>
                        <input type="password" id="passport">
                        <span class="tel-warn pwd-err hide"><em></em><i class="icon-warn" style="margin-left: 5px"></i></span>
                    </div>
                    
					<div class="reg_checkboxline pos">
						<span class="z"><i class="icon-ok-sign boxcol" nullmsg="请同意!"></i></span>
						<input type="hidden" name="agree" value="1">
						<div class="Validform_checktip"></div>
						<p>我已阅读并接受 <a href="#" target="_brack">《XXXX协议说明》</a></p>
					</div>
					<button class="lang-btn" type="button" onclick="weiboBindUser()">绑定账号</button>
				
<!--                </form>-->
                
                <div class="bottom-info">没有账号，<a href="./login.html">马上注册</a></div>
                <p class="right">Powered by © 2018</p>
            </div>
        </div>

    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/agree.js"></script>
    <script src="/js/reg.js"></script>

<script>
    function weiboBindUser() {
        var username = $.trim($('#username').val());
        var password = $.trim($('#passport').val());
        var uuid = $.trim($('#uuid').val());
        $.ajax({
            url: '/do/weibo/bing/user',
            type: 'post',
            dataType: 'json',
            async: false,
            data: {username:username,password:password,uuid: uuid},
            success:function(data){
                if (data.result == 'SUCCESS') {
                    if(data.token == null) {
                        window.location.href=data.returnUrl;
                    } else {
                        window.location.href=data.returnUrl + "?token=" + data.token;
                    }

                } else if(data.result == 'WARN'){
                    window.location.href=data.returnUrl;
                } else {
                    alert(data.msg);
                }
            },
            error:function(){
                status = false;
                // return false;
            }
        });
    }
</script>
</body>
</html>